body{
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
    color: rgba(0, 0, 0, 0.678);
    padding-top: 15%;
    padding-left: 5%;
}
.color{
    color: rgba(187, 29, 12, 0.699);
}
.section-one{
    display: flex;
    background-image: url(images/shapes/top-banner.png);
    background-repeat: no-repeat;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgba(165, 41, 27, 0.904),hotpink );
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: rgb(27, 27, 105)
}
#image1{
   width: 55%;
   padding-left: 20%;
   padding-top: 5%;
}
#about-me{
    text-align: center;
}
.image2{
    width: 20%;
    height: 20%;
}
.image3{
    width: 100%;
}
.image4{
    width: 100%;
}
.section-two{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    display: flex;
}
.flex-con{
   display: flex;
   margin: 20px;
}
.box-item{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}